body {
  background-color: #fefefe;
  padding-top: 3.5cm;
}

.field label {
  color: #10465B;
}

.field select,
.field input {
  border: 1px solid #10465B;
  background-color: transparent;
  color: #333333;
}

img.logo {
  display: block;
  margin: 1em 0;
  max-width: 200px;
}